<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    </head>
  <head>
<link rel="stylesheet" href="stylesheets/home.css" media="screen">
    <script> 
    </script>
    </head>
    <body class = "back"><header class = "wit"><div>
        <a href="/#"  data-image-width="200" data-image-height="200">
          <img src="image/s2s2.png" class = "logo">
        </a>
        </div>
        <br></br>
            <ul class = "top"><a class = "linkk" ><a href="/dashboard" style="padding: 10px 10px;">Home</a>
            <select onchange="window.location=this.value;">
            <option>Hi!</option>
            <option value="/user_profile">Your account</option>
            <option value="/logout">Logout</option> 
            </select>
            </ul>
        </header>
      <div>
        <img  src="image/s2s-11.png"  alt="" class="biglogo">
        </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Bookname</th>
        <th scope="col">author</th>
        <th scope="col">pages</th>
        <th scope="col">seller</th>
        <th scope="col">publishdate</th>
        <th scope="col">language</th>
        <th scope="col">course</th>
        <th scope="col">price</th>
        <th scope="col">description</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(r){ %> 
        <tr>
          <td><%= r.id %></td>
          <td><%= r.bookname %></td>
          <td><%= r.author %></td>
          <td><%= r.pages %></td>
          <td><%= r.seller %></td>
          <td><%= r.publishdate %></td>
          <td><%= r.language %></td>
          <td><%= r.course %></td>
          <td><%= r.price %></td>
          <td><%= r.description %></td>
        </tr>
     <% }) %>
    </tbody>
  </table>
</body>
</html>
